<div class="post container mx-auto my-5 py-5 border row">

    <div class="name col-6">
        <h3>名前さん</h3>
    </div>

    <div class="komaru col-3">
        <p>困ってる度</p>
        <p>100</p>
    </div>

    <div class="date col-3">
        <p>質問日</p>
        <p>2021年3月26日</p>
    </div>

    <div class="title col-12 py-3">
        <h1><a href="#" class="text-success">タイトル</a></h1>
    </div>

    <div class="content border border-secondary col-12">
        <p class="p-1">質問内容です。質問内容です。質問内容です。質問内容です。質問内容です。質問内容です。質問内容です。質問内容です。</p>
    </div>

    <div class="response col-12 text-right">
        <p class="p-3">◯件の返信</p>
    </div>


    <div class="answers row">
        <h3 class="col-12 py-3">＜ 回答 ＞</h3>
        <div class="answer col-6 offset-md-6 border border-secondary">
            <p class="py-2">◯◯さん</p>
            <p class="border border-secondary">回答内容です。回答内容です。回答内容です。回答内容です。回答内容です。回答内容です。回答内容です。回答内容です。回答内容です。
                回答内容です。回答内容です。回答内容です。回答内容です。回答内容です。回答内容です。回答内容です。回答内容です。回答内容です。
            </p>
        </div>

        <a class="ansser-btn btn btn-outline-success my-2 my-sm-0 col-3 align-self-center" type="submit">この質問に回答する</a>
    </div>
</div>