<div class="row text-center">
    <div class="col-4"></div>
    <div class="col-4 py-5">
    <h1 class="py-3">質問回答フォーム</h1>

    <%= render 'form', answer: @answer %>

    <h5>
        <%= link_to '戻る', answers_path %>
    </h5>
    </div>

    <div class="col-4"></div>
</div>